<!DOCTYPE html>
<html lang="en">
    <head>
        <title>notes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    <div class="container">
        <div class="jumbotron">
             <h1>notes</h1>
        </div>
            <div>
                <form method="post">

                <div class="input-group">
                    <input type="text" name="message" class="form-control" placeholder="type message">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-secondary">Post</input>
                    </span>
                </div>

                </form>
            </div>
            <ul class="notes">
                <% notes.forEach(function(note){ %>
                    <li class="notes_note"><%=note.message%></li>
                <%});%>
            </ul>
        </div>
    </body>
</html>